<div class="container">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-12 mt-5 page-header-content">
            <h1 class="page-header">{% t "Client Address" %}</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            {{ customer_address_form }}
        </div>
    </div>

</div>