<section class="container" id="create-password">
    <div class="row" id="create-password-wrapper">
        <div class="col-12 mt-5 page-header-content">
            <h1 class="page-header">{% t "Create Password" %}</h1>
        </div>
        <div class="col-md-6 offset-md-3 col-12">
            <div class="block">
                <div class="block-inside">
                    {{ customer_reset_password_form }}
                </div>
            </div>
        </div>
    </div>
</section>