<div class="container blog-post">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-12 mt-5 page-header-content mb-0">
            <h1 class="page-header">{{page.title}}</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-12 mt-5 page">
            <div class="page-body">{{page.body}}</div>
        </div>
    </div>
</div> 